# Application Environment
APP_ENV=sample

# RabbitMQ
RABBITMQ_URL=amqps://{{username}}:{{password}}@{{host}}:{{port}}/

# Mail
MJ_APIKEY_PUBLIC='your API key'
MJ_APIKEY_PRIVATE='your API secret'
MJ_FROM_EMAIL=orion-dev@nyinyimyintmyat.com
MJ_FROM_NAME=CaloireSnap